@model IEnumerable<CarsalesDataAccess.vehicle>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <td>

                    </td>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Make)</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
